# Ignore .DS_Store files
.DS_Store

# Ignore environment variables
/.env

# Ignore Python cache files
*.pyc

# Ignore subtitle files
*.srt
*.vtt

# Ignore temporary files
*.ytdl
*.part
*.temp

# Ignore media files
*.m4a
*.mp4
*.webm
*.wav
*.flac
*.aac
*.m4a
*.ogg
*.opus
*.webm
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.3gp
*.amr
*.aiff
*.au
*.caf
